 
<!--Barra superior -->
 <div class="row transparent-menu-top">
    <div class="container clear-padding">
      <div class="navbar-contact">
        <div class="col-md-7 col-sm-6 clear-padding">
          <a href="/contact/index" class="transition-effect"><i class="fa fa-phone"></i> (+56) 9 67698322</a>
          <a href="/contact/index" class="transition-effect"><i class="fa fa-envelope-o"></i> contacto@laserenafun.cl</a>
        </div>
        <div class="col-md-5 col-sm-6 clear-padding search-box">
          <div class="col-md-6 col-xs-5 clear-padding">
            
          </div>
<div class="col-md-6 col-xs-7 clear-padding user-logged">
  <%if user_signed_in?%>
      <%=link_to current_user.name, edit_user_registration_path(current_user)%> <i class="fa fa-user"></i>      
      <%= link_to "Cerrar Sessión",destroy_user_session_path,method: :delete %> <i class="fa fa-sign-out"></i>
  <%else%>
      <%= link_to "Ingresar", new_user_session_path %> <i class="fa fa-sign-in"></i>

      <%= link_to "Registrarse", new_user_registration_path %> <i class="fa fa-user-plus"></i>

  <%end%>
</div>
  
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
<!--Fin Barra Superior -->


<!-- -->
<div class="row transparent-menu">
        <div class="container clear-padding">
            <!-- BEGIN: HEADER -->
            <div class="navbar-wrapper">
                <div class="navbar navbar-default" role="navigation">
                    <!-- BEGIN: NAV-CONTAINER -->
                    <div class="nav-container">
                        <div class="navbar-header">
                            <!-- BEGIN: TOGGLE BUTTON (RESPONSIVE)-->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            
                            <!-- BEGIN: LOGO -->
                            <%= link_to "La Serena Fun", root_path, :class => "navbar-brand logo" %>
                        </div>
                        
                        <!-- BEGIN: NAVIGATION -->       
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                             <li><%if can? :create, Apartment %>
                              <%= link_to "Publicar", new_apartment_path,class:" button "%>
                              <%end%></li>
                              <li><%=link_to "Arriendos", apartments_path%></li>
                                <li><a href="/contact/index">Contacto</a></li>

                                <% if can? :access, :rails_admin %>
                                <li class="dropdown ">
                                <a href="lko" class="dropdown-toggle " data-toggle="dropdown" target="_blank">Administrar<b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                <li><%=link_to "Propiedades", dashboard_path %></li>
                                <li><%= link_to 'Usuarios', users_path %></li>
                                <li><%= link_to 'Base de Datos', rails_admin_path %></li>
                                </ul>
                                </li>
                                <%end%>
                            </ul>
                        </div>
                        <!-- END: NAVIGATION -->
                    </div>
                    <!--END: NAV-CONTAINER -->
                </div>
            </div>
            <!-- END: HEADER -->
        </div>
<!-- -->
       
       </div>

