<div id="custom" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand"><%= link_to "La Serena Fun", root_path, :class => "navbar-brand" %></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                

        <%if user_signed_in?%>
            <li >
              <%= link_to "Editar Perfil", edit_user_registration_path(current_user) %>
            </li>
            <li>
              <%= link_to "Cerrar Sessión",destroy_user_session_path,method: :delete %>
            </li>
        <%else%>
            <li>
                <%= link_to "Ingresar", new_user_session_path %>
            </li>
             <li>
                <%= link_to "Registrarse", new_user_registration_path %>
            </li>
        <%end%>
            <li ><%=link_to "Arriendos", apartments_path%></li>
            <li ><a href="/contact/index">Contacto</a></li>
            <% if can? :access, :rails_admin %>
              <li class="col-md">
                <%= link_to "Administrar Articulos", dashboard_path %>
              </li>
              <%end%>

            <% if can? :access, :rails_admin %>
                <li><%= link_to 'Admin', rails_admin_path %></li>
            <% end %>
            </ul>
        </div>
    </div>
</div>
  