
<div class="row">
    <div class="container">
      <div class="col-md-12 col-sm-6 text-center">
        <div>
          <div style="margin-bottom:200px"class="hotel-tagline text-center">
            <h3>Bienvenidos</h3>
            <h1>La Serena Fun</h1>
          </div>
        </div>
      </div>

      <!--
      <div class="col-md-4 col-sm-6">
        <div class="room-check">
          <h4 class="text-center">HAZ TU RESERVA</h4>
          <div class="room-check-body">
            <form >
              <label>Inicio</label>
              <div class="input-group">
                <input type="text" id="check_in" name="check-in" class="form-control" placeholder="MM/DD/YYYY" required>
                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
              </div>
              <label>Termino</label>
              <div class="input-group">
                <input type="text" id="check_out" name="check-in" class="form-control" placeholder="MM/DD/YYYY" required>
                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 padding-right">
                <label>Adult</label>
                <div class="input-group">
                  <input id="hotel_adult_count" name="adult_count" value="1" class="form-control center-input">
                  <span class="input-group-addon"><i class="fa fa-male fa-fw"></i></span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 padding-left">
                <label>Child</label>
                <div class="input-group">
                  <input type="text" id="hotel_child_count" name="child_count" value="1" class="form-control center-input">
                  <span class="input-group-addon"><i class="fa fa-child fa-fw"></i></span>
                </div>
              </div>
              <div class="text-center">
                <button type="submit">Revisar disponibilidad</button>
              </div>
            </form>
          </div>
        </div>
      </div>-->

    </div>
  </div>

  <!-- END: SEARCH SECTION -->

<!-- BEGIN: HOTEL INTRO -->
<section id="home-hotel-intro">
  <div class="row">
    <div class="container hotel-desc">
      <div class="col-md-5 col-sm-6 text-center">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110671.7057381568!2d-71.31420993415864!3d-29.907769397384435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9691ca649389f3c9%3A0x8a1787b3d1d84ccb!2sLa+Serena%2C+Regi%C3%B3n+de+Coquimbo%2C+Chile!5e0!3m2!1ses-419!2s!4v1448758179177"></iframe>
      </div>
      <div class="col-md-7 col-sm-6">
        <div class="hotel-intro">
          <h2>Bienvenido</h2>
          <h4>ACERCA DE NOSOTROS</h4>
          <p>Empresa destinada al servicio de arriendo de inmubles, ofrecemos a nuestros clientes la posibilidad de poder publicar aquellas propiedades que desee arrendar ya sea para temporadas de verano o para el año en general, nuestor fin es tener la mas amplia gama de opciones para aquellos ejecutivos, empresarios, turistas y familias que deseen pasar algunos dias en nuestras bellas playas de La Serena.</p>
          <a href="/contact/index">Conoce más<i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END: HOTEL INTRO -->

<!-- START: PRODUCT SECTION-->

<!-- END: PRODUCT SECTION -->
<section id="recent-blog">
  <div class="row top-offer">
    <div class="container">
      <div class="section-title text-center">
        <h2>Últimas Propiedades</h2>
        <h4>Publicadas</h4>
        <h4 class="boton "><%= link_to 'VER MÁS', apartments_path, class: "btn btn-info "%></h4>

      </div>

      <div id="owl-demo">
      <%stop=0%>
      <%Apartment.publicados_sinArrrendar.ultimos.each do |a|%>
        <div class="room-grid-view wow slideInUp">
          <%if a.pictures.empty? %>
          <div class="crop">
            <%= image_tag("sinfoto.jpg", :alt => "No tiene foto", class:"img-responsive") %>
</div>
        <%else%>
<div class="crop">
            <%= image_tag a.pictures.first.image.url, class:"img-responsive" %>
</div>
        <%end%>
          <div class="room-info">
            <div class="post-title">
              <h5><%=a.title%></h5>
              <p><i class="fa fa-calendar"></i> Fecha publicación: <%=a.created_at%></p>
            </div>
            <div class="hotel-ammeties">
                                  <% if a.wifi == true %>
                                    <i class="fa fa-wifi" style="color:orange" title="Wifi"></i>
                                    <%else%>
                                    <i class="fa fa-wifi" title=" Sin Wifi"></i>
                                  <%end%>
                                  <% if a.tv == true %>
                                    <i class="fa fa-television" style="color:orange" title="Television"></i>
                                    <%else%>
                                    <i class="fa fa-television" title=" Sin Television"></i>
                                  <%end%>
                                  <% if a.radio == true %>
                                    <i class="fa fa-headphones" style="color:orange" title="Radio"></i>
                                    <%else%>
                                    <i class="fa fa-headphones" title=" Sin Radio"></i>
                                  <%end%>
                                  <% if a.tvcable == true %>
                                    <i class="fa fa-rss-square" style="color:orange" title="Televisión Satelital"></i>
                                    <%else%>
                                    <i class="fa fa-rss-square" title=" Sin Televisión Satelital"></i>
                                  <%end%>
                                  <% if a.parking == true %>
                                    <i class="fa fa-car" style="color:orange" title="Estacionamiento"></i>
                                    <%else%>
                                    <i class="fa fa-car" title=" Sin Estacionamiento"></i>
                                  <%end%>
                                </div>
            <div class="post-desc">
              <p><%=truncate(a.description,length:45)%></p>
            </div>
            <div class="room-book">
              <div class="col-md-8 col-sm-6 col-xs-6 clear-padding post-alt">
                <h5><%= a.visits_count%> visitas</h5>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6 clear-padding">
                <%=link_to "Ver", a%>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <%break if stop > 5%>
        <%stop += 1%>
        <%end%>
        
      </div>   <!--FIN OWL-->
<script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
          autoPlay: 3000, //Set AutoPlay to 3 seconds
          loop: true,
          magin: 10,
          dots: false,
          navText: [
                    "<i class='fa fa-arrow-left'></i>",
                    "<i class='fa fa-arrow-right'></i>"
                ],
          responsiveClass:false,
          responsive:{
              0:{
                  items:1,
                  nav:true
              },
              600:{
                  items:3,
                  nav:false
              },
              1000:{
                  items:3,
                  nav:true,
                  loop:false
              }
          }
      });
    });
</script> 

<script>
  new WOW().init();
</script>
      
    </div>
  </div>
</section>

<!-- BEGIN: HOTEL FACILITIES -->
<section id="home-top-destination">
  <div class="row image-background">
    <div class="td-overlay">
      <div class="container">
        <div class="light-section-title text-center">
          <h2>Lugares de interés</h2>
          <h4>Disfruta</h4>
        </div>
        <div class="col-md-10 col-md-offset-1 on-top clear-padding">
          <div class="col-md-6 col-sm-6 td-product text-center clear-padding wow slideInUp" data-wow-delay="0.1s">
            <img src="assets/hotel-facility3.jpg" alt="cruise">
            <div class="overlay">
              <div class="wrapper">
                <h5>Faro la Serena</h5>
                <h3><span>TOUR</span></h3>
                <p>El Faro Monumental de La Serena es un faro chileno ubicado en la Avenida del Mar de la ciudad de La Serena. La estructura se caracteriza por ser el símbolo de reconocimiento público de la ciudad, siendo uno de los lugares turísticos más representativos y concurridos de la zona.</p>
                <a href="https://es.wikipedia.org/wiki/Faro_Monumental_de_La_Serena">LEER MÁS</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 td-product text-center clear-padding wow slideInUp" data-wow-delay="0.2s">
            <img src="assets/hotel-facility4.jpg" alt="cruise">
            <div class="overlay">
              <div class="wrapper">
                <h5>Enjoy Coquimbo</h5>
                <h3><span>CASINO</span></h3>
                <p>La mejor experiencia de entretenimiento, una maravillosa sensación de desconexión y descanso, y calidez en su servicio, se traduce en una sola palabra: Enjoy, la empresa líder de la industria en Latinoamérica.</p>
                <a href="http://www.enjoy.cl/coquimbo/">LEER MÁS</a>
              </div>
            </div>
          </div>
          <div class="clearfix visible-md-block"></div>
          <div class="col-md-6 col-sm-6 td-product text-center clear-padding wow slideInUp" data-wow-delay="0.1s">
            <img src="assets/hotel-facility2.jpg" alt="cruise">
            <div class="overlay">
              <div class="wrapper">
                <h5>Valle de Elqui</h5>
                <h3><span>NATURALEZA</span></h3>
                <p>SI vas a la serena, es un destino fijo, imperdible lleno de arboles, historia, rios, una naturaleza que encanta. .</p>
                <a href="http://www.valledeelqui.cl/">LEER MÁS</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 td-product text-center clear-padding wow slideInUp" data-wow-delay="0.2s">
            <img src="assets/hotel-facility1.jpg" alt="cruise">
            <div class="overlay">
              <div class="wrapper">
                <h5>Totoralillo</h5>
                <h3><span>PLAYA</span></h3>
                <p>Si quieres salir de serena este es un lugar cercano y espectacular para disfrutar aguas turquezas y excelentes olas.</p>
                <a href="https://www.tripadvisor.cl/Attraction_Review-g303674-d318265-Reviews-Totoralillo-La_Serena_Coquimbo_Region.html">LEER MÁS</a>
              </div>
            </div>
          </div>
          <div class="clearfix visible-md-block"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END: END HOTEL FACILITIES SECTION -->
<!-- BEGIN: RECENT BLOG POST -->

<!-- END: RECENT BLOG POST -->

<script type="text/javascript">
      jQuery(function($){
        "use strict";
        $.supersized({
        
          //Functionality
          slideshow               :   1,    //Slideshow on/off
          autoplay        : 1,    //Slideshow starts playing automatically
          start_slide             :   1,    //Start slide (0 is random)
          random          :   0,    //Randomize slide order (Ignores start slide)
          slide_interval          :   10000,  //Length between transitions
          transition              :   1,    //0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
          transition_speed    : 500,  //Speed of transition
          new_window        : 1,    //Image links open in new window/tab
          pause_hover             :   0,    //Pause slideshow on hover
          keyboard_nav            :   0,    //Keyboard navigation on/off
          performance       : 1,    //0-Normal, 1-Hybrid speed/quality, 2-Optimizes image quality, 3-Optimizes transition speed // (Only works for Firefox/IE, not Webkit)
          image_protect     : 1,    //Disables image dragging and right click with Javascript

          //Size & Position
          min_width           :   0,    //Min width allowed (in pixels)
          min_height            :   0,    //Min height allowed (in pixels)
          vertical_center         :   1,    //Vertically center background
          horizontal_center       :   1,    //Horizontally center background
          fit_portrait          :   1,    //Portrait images will not exceed browser height
          fit_landscape     :   0,    //Landscape images will not exceed browser width
          
          //Components
          navigation              :   1,    //Slideshow controls on/off
          thumbnail_navigation    :   1,    //Thumbnail navigation
          slide_counter           :   1,    //Display slide numbers
          slide_captions          :   1,    //Slide caption (Pull from "title" in slides array)
          slides          :   [   //Slideshow Images 
                            {image : '/assets/hotel-slide.jpg', title : 'Slide 2'},
                            {image : '/assets/hotel-slide2.jpg', title : 'Slide 1'},
                            {image : '/assets/hotel-slide5.jpg', title : 'Slide 2'}
                        ]
                        
        }); 
        });

</script>
