<!-- START: PAGE TITLE -->
  <div class="row page-title">
    <div class="container clear-padding text-center flight-title">
      <h3>ACERCA DE NOSOTROS</h3>
      <h4 class="thank">Algunas palabras sobre nosotros</h4>
    </div>
  </div>
  <!-- END: PAGE TITLE -->
  
  <!-- START: CONTACT-US -->
  <div class="row flex-row">
    <div class="col-lg-5 col-md-5 col-sm-5 flex-item">
      <div class="flex-item-desc">
        <div class="section-title">
          <h2>INTRODUCCIÓN</h2>
          <h4>QUÉ HACEMOS?</h4>
        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 clear-padding flex-item">
      <%= image_tag("hotel-slide2.jpg", :alt => "La Serena Fun") %>
    </div>
  </div>
  <!-- END: CONTACT-US -->
  <!-- START: OUR TEAM -->
  <div class="row our-team">
    <div class="container clear-padding">
      <div class="section-title text-center">
        <h2>NUESTRO EQUIPO</h2>
      </div>
      <div>
        <div class="col-md-6 col-sm-6 text-center">
          <div class="team-member">
            <%= image_tag("team.jpg", :alt => "Equipo") %>
            <h4>Gloria Egaña C.</h4>
            <h5>Directora Comercial</h5>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 text-center">
          <div class="team-member">
            <%= image_tag("team.jpg", :alt => "Equipo") %>
            <h4>Amalia Barboza M.</h4>
            <h5>Directora Comercial</h5>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: OUR TEAM -->
  <!-- START: OUR SERVICE -->
  <div class="row our-service hotel-service">
    <div class="container clear-padding">
      <div class="service-left col-md-4">
        <div class="section-title">
          <h2>OUR SERVICES</h2>
          <h4>What We Offer</h4>
        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div class="service-right col-md-8">
        <div class="col-sm-6 text-center service">
          <i class="fa fa-bell"></i>
          <div class="service-desc">
            <h5>ROOM SERVICE</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
        <div class="col-sm-6 text-center service">
          <i class="fa fa-beer"></i>
          <div class="service-desc">
            <h5>BARS</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6 text-center service">
          <i class="fa fa-cutlery"></i>
          <div class="service-desc">
            <h5>RESTAURANT</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
        <div class="col-sm-6 text-center service">
          <i class="fa fa-taxi"></i>
          <div class="service-desc">
            <h5>TRANSPORT</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- END: OUR SERVICE -->
  <!-- START: OUR PARTNER -->
  <div class="row our-partner">
    <div class="container clear-padding">
      <div class="section-title text-center">
        <h2>OUR PARTNER</h2>
        <h4>MEET OUR PARTNERS</h4>
      </div>
      <div class="owl-carousel" id="owl-carousel">
        <div>
          <%= image_tag("3docean.png", :alt => "La Serena Fun") %>
        </div>
        <div>
          <%= image_tag("3docean.png", :alt => "La Serena Fun") %>
        </div>
        <div>
          <%= image_tag("3docean.png", :alt => "La Serena Fun") %>
        </div>
        <div>
          <%= image_tag("3docean.png", :alt => "La Serena Fun") %>
        </div>
        <div>
          <%= image_tag("3docean.png", :alt => "La Serena Fun") %>
        </div>
        <div>
          <%= image_tag("3docean.png", :alt => "La Serena Fun") %>
        </div>
        <div>
          <%= image_tag("3docean.png", :alt => "La Serena Fun") %>
        </div>
        <div>
          <%= image_tag("3docean.png", :alt => "La Serena Fun") %>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $("#owl-carousel").owlCarousel({
          autoPlay: 3000, //Set AutoPlay to 3 seconds
          items : 3,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3],
          loop: true
      });
    });
</script> 
  <!-- END: OUR PARTNER -->