<div class="col-md-4 col-sm-6">
    <div class="room-grid-view">
        <%if apartment.pictures.empty?%>
            <div class="crop">
                <img src="/assets/sinfoto.jpg">
            </div>
        <%else%>
            <div class="crop">
                <%= image_tag apartment.pictures.first.image.url %>
            </div>
        <%end%>
                        <div class="room-info">
                            <div class="room-title">
                                <h5><%= apartment.title %></h5>
                                <p><i class="fa fa-map-marker"></i> <%= apartment.address %></p>
                                <div class="hotel-ammeties">
                                  <% if apartment.wifi == true %>
                                    <i class="fa fa-wifi" style="color:green" title="Wifi"></i>
                                    <%else%>
                                    <i class="fa fa-wifi" title=" Sin Wifi"></i>
                                  <%end%>
                                  <% if apartment.tv == true %>
                                    <i class="fa fa-television" style="color:green" title="Televisi贸n"></i>
                                    <%else%>
                                    <i class="fa fa-television" title=" Sin Televisi贸n"></i>
                                  <%end%>
                                  <% if apartment.radio == true %>
                                    <i class="fa fa-headphones" style="color:green" title="Radio"></i>
                                    <%else%>
                                    <i class="fa fa-headphones" title=" Sin Radio"></i>
                                  <%end%>
                                  <% if apartment.tvcable == true %>
                                    <i class="fa fa-rss-square" style="color:green" title="Televisi贸 Satelital"></i>
                                    <%else%>
                                    <i class="fa fa-rss-square" title=" Sin Televisi贸n Satelital"></i>
                                  <%end%>
                                  <% if apartment.parking == true %>
                                    <i class="fa fa-car" style="color:green" title="Estacionamiento"></i>
                                    <%else%>
                                    <i class="fa fa-car" title=" Sin Estacionamiento"></i>
                                  <%end%>
                                </div>
                            </div>
                            <div class="room-desc">
                                <p><%= truncate(apartment.description,length:50) %></p>
                            </div>
                            <div class="hotel-rating">
                                <div class="pull-left">
                                    <%= apartment.visits_count%> visitas
                                </div>
                                <div class="pull-right">
                                    
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="room-book">
                                <div class="col-md-8 col-sm-6 col-xs-6 clear-padding">
                                    <h5><%= apartment.pernightPrice %> USD/Noche</h5>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 clear-padding">
                                    <%=link_to "Ver", apartment%> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="clearfix-sm"></div>
