<%= form_for(@apartment, :html => {:multipart => true}) do |f| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= f.label :rooms %><br>
    <%= f.number_field :rooms %>
  </div>
  <div class="form-group">
    <%= f.label :bathrooms, "Baños" %><br>
    <%= f.number_field :bathrooms %>
  </div>
  <div class="form-group">
    <%= f.label :price,"Precio x día" %><br>
    <%= f.number_field :price %>
  </div>


  <div class="form-group">
    <%= f.label :pictures, :class => 'control-label' %>
    <div class="controls">
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Publicar", :class => 'btn btn-info' %>
  </div>
<% end %>
