<%= form_for(@apartment, :html => {:multipart => true}) do |f| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="form-group">
    <%= f.label :is_rented %><br>
    <%= f.check_box :is_rented %>
  </div>
  <div class="form-group">
    <%= f.label :rooms %><br>
    <%= f.number_field :rooms %>
  </div>
  <div class="form-group">
    <%= f.label :bathrooms, "Baños" %><br>
    <%= f.number_field :bathrooms %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>


  <div class="form-group">
    <%= f.label :pictures, :class => 'control-label' %>
    <div class="controls">
      <%= file_field_tag "images[]", type: :file, multiple: true %>
          <option value="1" currecy_code="XXX">Andorra</option>
          <option value="2" currecy_code="YYY">Argentina</option>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Publicar", :class => 'btn btn-info' %>
  </div>
<% end %>
