<article class="container">
<h1 class="be-big blue top-space"> <%= @apartment.title  %> 
  <%if can? :update, @apartment %>
  <%= link_to 'Edit', edit_apartment_path(@apartment), class: "btn btn-info" %>
  <%end%>
  <%if can? :destroy, @apartment %>
  <%= link_to 'Eliminar', @apartment, method: :delete, class: "btn btn-danger white", data: { confirm: '¿Estas seguro?' } %>
<%end%></h1>


<div class="col-md-12">
  <div class="col-md-7">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
      <%if @apartment.pictures.count > 1 %>
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <% for i in 1..@apartment.pictures.count-1 %>
            <li data-target="#myCarousel" data-slide-to=<%= "#{i}" %>></li>
          <% end %>
        </ol> 
      <% end %>
          
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <% unless @apartment.pictures.empty? %>
                <% @apartment.pictures.each do |pic| %>
                  <%if pic == @apartment.pictures.first%>
                    <div class="active item">
                      <%= image_tag pic.image.url %>
                    </div>
                  <%else%>
                    <div class="item">
                      <%= image_tag pic.image.url %>
                    </div>
                  <% end %>
                <% end %>
            <% end %>
          </div>
          <!-- Carousel controls -->
          <%if @apartment.pictures.count > 1 %>
            <a id="carousel-arrows"class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a id="carousel-arrows" class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          <%end%>
      </div>
  </div>
<div class="col-md-5">
  <div class="row center-xs top-space">
    <div class="col-xs-12 ligth-border col-md-7 top-space">
    <div class="col-md-12">
      <h2>Caracteristicas Básicas:</h2>
    </div>
           <div class="col-md-12">
             <i class="fa fa-bed fa-2x">Pieza(s): <%=@apartment.rooms%> </i>
           </div>
           <div class="col-md-12">
            <i class="fa fa-filter fa-2x">Baño(s): <%=@apartment.bathrooms%></i>
           </div>
           <div class="col-md-12">
            <i class="fa fa-money fa-2x">Precio: <%=@apartment.price%></i>
           </div>

    </div>
  </div>
</div>
</div>

<div class="col-md-12">
  <h3>Descripción:</h3>
  <%= @apartment.description%>
</div>

</article>
  <div class="container">
    <div class="row">
      <div class="col-md-12"><span class="pull-right"><%= link_to "", apartments_path, class:"fa fa-arrow-circle-left fa-4x"%></span></div>
    </div>
</div>   
