<!DOCTYPE html>
<html>
<head>
  <title>LaSerenaFun</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>

<%- if params[:controller] == 'welcome' and params[:action] == 'index' %>
  <body data-no-turbolink="true">
<%- else %>
  <body data-no-turbolink="false">
<%- end %>

    <%=render "partials/navigation"%>
    
    <%if notice%>
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">Cerrar</button>
        <p class="alert-link"><%= notice %></p>
    </div>
		
	<%end%>
	<%if alert%>
     <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">Cerrar</button>
        <p class="alert-link"><%= alert %></p>
    </div>
	<%end%>
	<%= yield %>
<section id="footer">
  <footer>
    <div class="clearfix"></div>
    <div class="row sm-footer-nav text-center">
      <p>
        <%=link_to "INICIO", root_path%>
        <%=link_to "ARRIENDOS", apartments_path%>
        <a href="#">SERVICE</a>
        <a href="#">GALLERY</a>
      </p>
      <p class="copyright">
        &copy;  La Serena Fun 2015 | Todos los derechos reservados
      </p>
      <div class="go-up">
        <a href="#"><i class="fa fa-arrow-up"></i></a>
      </div>
    </div>
  </footer>
</section>
<!-- END: FOOTER -->
</div>
</body>
</html>
