<!DOCTYPE html>
<html>
<head>
  <title>LaSerenaFun</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
    <%=render "partials/navigation"%>
    
    <%if notice%>
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">Cerrar</button>
        <p class="alert-link"><%= notice %></p>
    </div>
		
	<%end%>
	<%if alert%>
     <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">Cerrar</button>
        <p class="alert-link"><%= alert %></p>
    </div>
	<%end%>
	<%= yield %>

</body>
</html>
